<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.android.polenova">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icons9"
        android:label="@string/title_notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ColdTheme">
        <activity android:name=".OtherSettingsActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ListNoteActivity" />
        <activity android:name=".NewNoteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>